header .navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: white !important;
  box-shadow: -10px -10px 20px black; }
header .navbar.navbar-expand-lg.navbar-light.bg-light .nav-link {
  font-size: 17px;
  font-weight: 700;
  margin: 0px 10px;
  transition: all .3s linear; }
  header .navbar.navbar-expand-lg.navbar-light.bg-light .nav-link:hover {
    color: #8d81ac; }
header .navbar-expand-lg .navbar-collapse {
  padding: 20px; }
  header .navbar-expand-lg .navbar-collapse .buy-link {
    background-color: #8d81ac;
    color: white !important;
    border-radius: 50px;
    width: 150px;
    height: 35px;
    margin-top: 4px !important;
    text-align: center;
    line-height: 15px;
    margin-left: 30px; }
  @media only screen and (max-width: 1000px) {
    header .navbar-expand-lg .navbar-collapse .buy-link {
      margin-left: 0px;
      margin: 0px auto !important; } }
@media only screen and (max-width: 1000px) {
  header .navbar-nav {
    text-align: center; } }

#part-1 .container-fluid {
  padding: 0; }
#part-1 .main-contain {
  background-image: url("../images/img-decor-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 800px;
  margin-top: 80px;
  padding-top: 70px; }
  #part-1 .main-contain h1 {
    color: #e3dfed;
    font-weight: 700;
    font-size: 90px; }
  #part-1 .main-contain h4 {
    color: #8d81ac;
    font-weight: 400; }
  #part-1 .main-contain h5 {
    font-weight: 300;
    color: #8d81ac;
    opacity: .7;
    font-size: 18px; }

#part-2 {
  padding-bottom: 70px;
  position: relative; }
  #part-2 .download {
    width: 100%;
    height: 60px;
    background-color: #8d81ac;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    top: -30px;
    left: 1px; }
    #part-2 .download h3 {
      line-height: 50px;
      font-size: 24px;
      font-weight: 700; }
      #part-2 .download h3 a {
        text-decoration: none;
        color: white; }
    #part-2 .download span {
      margin-top: 25px;
      display: block;
      font-size: 14px;
      color: #8d81ac; }
  #part-2 h1 {
    font-size: 60px;
    font-weight: 700;
    color: #635c73;
    margin-top: 100px; }
    @media only screen and (max-width: 700px) {
      #part-2 h1 {
        font-size: 30px; } }
  #part-2 p {
    font-size: 20px;
    color: #635c73;
    margin: 30px 0px; }
  @media only screen and (max-width: 700px) {
    #part-2 div img {
      width: 250px; } }

#part-3 {
  background-color: #f4f4f4;
  padding: 80px 0px 40px 0px; }
  #part-3 .componenets {
    padding: 10px; }
    #part-3 .componenets .icon-contain {
      float: left;
      width: 140px; }
      #part-3 .componenets .icon-contain i {
        font-size: 80px;
        color: #8d81ac;
        display: inline-block;
        margin-top: 20px; }
    #part-3 .componenets small {
      font-size: 12px;
      opacity: .8; }
  #part-3 h1 {
    font-size: 40px;
    font-weight: 700;
    color: #8d81ac; }
  #part-3 img {
    transform: translateX(20px); }

#part-4 {
  padding-top: 80px; }
  #part-4 .owl-carousel {
    position: relative; }
    #part-4 .owl-carousel .owl-prev {
      font-size: 35px;
      opacity: .8;
      position: absolute;
      top: 78px;
      left: 2%; }
    #part-4 .owl-carousel .owl-next {
      font-size: 35px;
      opacity: .8;
      position: absolute;
      top: 78px;
      right: 2%; }
  #part-4 img {
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
    width: 100px !important;
    text-align: center; }
  #part-4 .info {
    display: inline-block; }
    #part-4 .info h4 {
      color: #8d81ac;
      font-weight: 400; }
    #part-4 .info h6 {
      float: left; }
      #part-4 .info h6 a {
        color: #8d81ac;
        font-weight: 700;
        font-size: 18px;
        text-decoration: none; }
  #part-4 h5 {
    font-weight: 350;
    margin-top: 40px;
    padding: 0px 50px;
    opacity: .9; }
    #part-4 h5 a {
      color: #8d81ac;
      text-decoration: none; }
  #part-4 h3 {
    font-size: 18px;
    font-weight: 350;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #8d81ac;
    opacity: .9; }

#part-5 {
  margin-bottom: 70px; }
  #part-5 hr {
    margin-bottom: 50px; }
  #part-5 a {
    text-decoration: none;
    color: black; }
  #part-5 small {
    opacity: .8;
    display: inline-block;
    margin-top: 20px; }
  #part-5 .buttons {
    width: 100%;
    height: 50px;
    background: #ccc;
    line-height: 45px;
    border-radius: 5px;
    opacity: .7;
    transition: all .3s linear;
    padding-right: 50px; }
    #part-5 .buttons:hover {
      opacity: 1; }
    #part-5 .buttons span {
      font-size: 20px; }
    #part-5 .buttons i {
      float: left;
      margin: 13px 0px 0px 20px;
      font-size: 25px; }
  #part-5 .button-contain div:nth-of-type(2) .buttons {
    background-color: #26a6d1;
    color: white; }
  #part-5 .button-contain div:nth-of-type(3) .buttons {
    background-color: #3b5998;
    color: white; }

#part-6 .main-img {
  padding-bottom: 50px; }
  #part-6 .main-img .hr-div {
    width: 100%;
    height: 1px;
    background-color: #ccc; }
  #part-6 .main-img .main-image {
    width: 100%;
    height: 750px;
    position: absolute;
    z-index: -10; }
    @media only screen and (max-width: 700px) {
      #part-6 .main-img .main-image {
        height: 1800px; } }
  #part-6 .main-img h1 {
    font-size: 50px;
    font-weight: 700;
    color: #e3dfed;
    margin: 70px 0px; }
  #part-6 .main-img p {
    color: white;
    font-style: italic;
    margin-top: 30px;
    padding: 0px 10px; }
  #part-6 .main-img .second-row {
    margin-top: 50px; }
#part-6 .col-md-3 {
  padding: 5px; }
#part-6 .main-item {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px 0;
  padding: 0px 20px; }
  #part-6 .main-item .head {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.05); }
    #part-6 .main-item .head h4 {
      color: white;
      font-weight: 300;
      line-height: 80px; }
  #part-6 .main-item h1 {
    font-size: 70px;
    color: white;
    margin-top: 20px;
    margin-bottom: 0; }
    #part-6 .main-item h1 span {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.08); }
  #part-6 .main-item p {
    color: rgba(255, 255, 255, 0.09);
    margin-top: 10px;
    font-style: normal; }
  #part-6 .main-item div:nth-of-type(2) {
    width: 60px;
    border: 2px solid #8d81ac;
    margin: 30px auto; }
  #part-6 .main-item p:nth-of-type(2) {
    color: white;
    font-size: 20px;
    font-weight: 300;
    height: 30px; }
  #part-6 .main-item button {
    font-weight: 700;
    color: white;
    background-color: rgba(255, 255, 255, 0.08);
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 50px;
    margin: 30px 0px; }
#part-6 .second-img {
  height: 800px !important; }
  @media only screen and (max-width: 700px) {
    #part-6 .second-img {
      height: 2300px !important; } }
#part-6 .col-md-10.text-center small {
  color: rgba(255, 255, 255, 0.09);
  margin-top: 30px;
  display: inline-block; }

#part-7 {
  background-color: #f4f4f4;
  padding: 50px 0px; }
  #part-7 h3 {
    font-weight: 700;
    opacity: .8; }
  #part-7 input {
    width: 350px;
    height: 40px;
    outline: none;
    border: none;
    padding-left: 20px;
    border-radius: 50px;
    font-weight: 500; }
    @media only screen and (max-width: 700px) {
      #part-7 input {
        width: 200px;
        margin-bottom: 10px; } }
  #part-7 button {
    height: 40px;
    border: none;
    background-color: #8d81ac;
    color: white;
    width: 150px;
    border-radius: 50px;
    margin-left: 20px; }

#part-8 {
  padding: 50px 0px; }
  #part-8 h3 {
    color: #ccc;
    font-weight: 350;
    margin: 30px 0px; }
  #part-8 h4 {
    font-size: 18px;
    font-weight: 650;
    margin-top: 30px; }
  #part-8 small {
    font-size: 12px;
    opacity: 0.9; }
  #part-8 button {
    display: block;
    font-weight: 600;
    padding: 5px 20px;
    margin-top: 50px;
    color: #8d81ac;
    border: none;
    font-size: 15px;
    border-radius: 3px;
    margin-bottom: 40px; }
  #part-8 a {
    color: #8d81ac;
    text-decoration: none; }

#part-9 {
  padding: 30px 0px; }
  #part-9 img {
    display: block; }
  #part-9 small {
    display: inline-block;
    max-width: 80%;
    margin-top: 20px;
    color: #ccc; }
  #part-9 h4 {
    font-size: 20px;
    margin-bottom: 20px;
    opacity: .9; }
  #part-9 h5 {
    font-size: 17px;
    margin: 5px 0px 0px 0px;
    font-weight: 650; }
    #part-9 h5 a {
      text-decoration: none;
      color: #8d81ac; }
  #part-9 h2 {
    font-weight: 700; }
  #part-9 p {
    font-weight: 650;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 30px; }
  #part-9 span {
    color: #ccc; }

body {
  height: 4000px; }
